version: '3'

services:
  web:
    build: .
    ports:
      - "80:80"
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: hive
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "8080:8080"

volumes:
  dbdata:
